In [2]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sb

In [3]:
diabete_df=pd.read_csv("diabetes_012_health_indicators_BRFSS2015.csv")

In [4]:
#General look at the DataSet#
diabete_df.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [5]:
diabete_df.tail()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
253675,0.0,1.0,1.0,1.0,45.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,5.0,0.0,1.0,5.0,6.0,7.0
253676,2.0,1.0,1.0,1.0,18.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,4.0,0.0,0.0,1.0,0.0,11.0,2.0,4.0
253677,0.0,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,2.0
253678,0.0,1.0,0.0,1.0,23.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,7.0,5.0,1.0
253679,2.0,1.0,1.0,1.0,25.0,0.0,0.0,1.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,9.0,6.0,2.0

In [6]:
diabete_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   HeartDiseaseorAttack  253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

In [7]:
diabete_df.describe()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,...,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.296921,0.429001,0.424121,0.962670,28.382364,0.443169,0.040571,0.094186,0.756544,0.634256,...,0.951053,0.084177,2.511392,3.184772,4.242081,0.168224,0.440342,8.032119,5.050434,6.053875
std,0.698160,0.494934,0.494210,0.189571,6.608694,0.496761,0.197294,0.292087,0.429169,0.481639,...,0.215759,0.277654,1.068477,7.412847,8.717951,0.374066,0.496429,3.054220,0.985774,2.071148
min,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,1.000000,24.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,5.000000
50%,0.000000,0.000000,0.000000,1.000000,27.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,7.000000
75%,0.000000,1.000000,1.000000,1.000000,31.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,3.000000,2.000000,3.000000,0.000000,1.000000,10.000000,6.000000,8.000000
max,2.000000,1.000000,1.000000,1.000000,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,5.000000,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000

In [8]:
#look at the description of DataSet in better view
diabete_df.describe().round(2).T

                         count   mean   std   min   25%   50%   75%   max
Diabetes_012          253680.0   0.30  0.70   0.0   0.0   0.0   0.0   2.0
HighBP                253680.0   0.43  0.49   0.0   0.0   0.0   1.0   1.0
HighChol              253680.0   0.42  0.49   0.0   0.0   0.0   1.0   1.0
CholCheck             253680.0   0.96  0.19   0.0   1.0   1.0   1.0   1.0
BMI                   253680.0  28.38  6.61  12.0  24.0  27.0  31.0  98.0
Smoker                253680.0   0.44  0.50   0.0   0.0   0.0   1.0   1.0
Stroke                253680.0   0.04  0.20   0.0   0.0   0.0   0.0   1.0
HeartDiseaseorAttack  253680.0   0.09  0.29   0.0   0.0   0.0   0.0   1.0
PhysActivity          253680.0   0.76  0.43   0.0   1.0   1.0   1.0   1.0
Fruits                253680.0   0.63  0.48   0.0   0.0   1.0   1.0   1.0
Veggies               253680.0   0.81  0.39   0.0   1.0   1.0   1.0   1.0
HvyAlcoholConsump     253680.0   0.06  0.23   0.0   0.0   0.0   0.0   1.0
AnyHealthcare         253680.0   0.95  0.22   0.0   1.0   1.0   1.0   1.0
NoDocbcCost           253680.0   0.08  0.28   0.0   0.0   0.0   0.0   1.0
GenHlth               253680.0   2.51  1.07   1.0   2.0   2.0   3.0   5.0
MentHlth              253680.0   3.18  7.41   0.0   0.0   0.0   2.0  30.0
PhysHlth              253680.0   4.24  8.72   0.0   0.0   0.0   3.0  30.0
DiffWalk              253680.0   0.17  0.37   0.0   0.0   0.0   0.0   1.0
Sex                   253680.0   0.44  0.50   0.0   0.0   0.0   1.0   1.0
Age                   253680.0   8.03  3.05   1.0   6.0   8.0  10.0  13.0
Education             253680.0   5.05  0.99   1.0   4.0   5.0   6.0   6.0
Income                253680.0   6.05  2.07   1.0   5.0   7.0   8.0   8.0

In [9]:
# to check also Whether there is null_value in the DataSet or not and represent in a table
isnull_number = []
for i in diabete_df.columns:
    x = diabete_df[i].isnull().sum()
    isnull_number.append(x)
isnull_number_S=pd.Series(isnull_number,index=diabete_df.columns)
isnull_number_S

Diabetes_012            0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

In [10]:
#To Check How many Values are there in each column
unique_number = []
for i in diabete_df.columns:
    x = diabete_df[i].value_counts().count()
    unique_number.append(x)
unique_number_S=pd.Series(unique_number,index=diabete_df.columns)
unique_number_S

Diabetes_012             3
HighBP                   2
HighChol                 2
CholCheck                2
BMI                     84
Smoker                   2
Stroke                   2
HeartDiseaseorAttack     2
PhysActivity             2
Fruits                   2
Veggies                  2
HvyAlcoholConsump        2
AnyHealthcare            2
NoDocbcCost              2
GenHlth                  5
MentHlth                31
PhysHlth                31
DiffWalk                 2
Sex                      2
Age                     13
Education                6
Income                   8
dtype: int64

In [11]:
#Create a DataFrame of these results (isnull_number_S/unique_number_S)
data={"Total Missing Values":isnull_number_S,"Total_Unique_Values":unique_number_S}
unique_notnull_df=pd.DataFrame(data)
unique_notnull_df

                      Total Missing Values  Total_Unique_Values
Diabetes_012                             0                    3
HighBP                                   0                    2
HighChol                                 0                    2
CholCheck                                0                    2
BMI                                      0                   84
Smoker                                   0                    2
Stroke                                   0                    2
HeartDiseaseorAttack                     0                    2
PhysActivity                             0                    2
Fruits                                   0                    2
Veggies                                  0                    2
HvyAlcoholConsump                        0                    2
AnyHealthcare                            0                    2
NoDocbcCost                              0                    2
GenHlth                                  0                    5
MentHlth                                 0                   31
PhysHlth                                 0                   31
DiffWalk                                 0                    2
Sex                                      0                    2
Age                                      0                   13
Education                                0                    6
Income                                   0                    8

In [12]:
#Check How Many different values are there in the each attributes in another way
diabete_df.nunique().sort_values()

Veggies                  2
HighBP                   2
HighChol                 2
CholCheck                2
Sex                      2
Smoker                   2
Stroke                   2
HeartDiseaseorAttack     2
PhysActivity             2
Fruits                   2
DiffWalk                 2
HvyAlcoholConsump        2
AnyHealthcare            2
NoDocbcCost              2
Diabetes_012             3
GenHlth                  5
Education                6
Income                   8
Age                     13
MentHlth                31
PhysHlth                31
BMI                     84
dtype: int64

In [13]:
#To check How many notnull values are there in df in another way
diabete_df.isnull().sum()

Diabetes_012            0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

In [14]:
#Cleaning_data
#There were no Null_Values in the DataSet
#To understand How Many Rows are duplicated
diabete_df.duplicated(subset=['Diabetes_012','HighBP','HighChol','CholCheck','BMI','Smoker','Stroke',
                              'HeartDiseaseorAttack','PhysActivity','Fruits','Veggies','HvyAlcoholConsump','AnyHealthcare','NoDocbcCost','GenHlth','MentHlth',
                              'PhysHlth','DiffWalk','Sex','Age','Education','Income']).sum()

23899

In [15]:
#clean duplicated rows and resetting the index
diabete_df_clean=diabete_df.drop_duplicates()
diabete_df_clean.reset_index(drop=True,inplace=True)
diabete_df_clean

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229776,0.0,1.0,1.0,1.0,45.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,5.0,0.0,1.0,5.0,6.0,7.0
229777,2.0,1.0,1.0,1.0,18.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,4.0,0.0,0.0,1.0,0.0,11.0,2.0,4.0
229778,0.0,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,2.0
229779,0.0,1.0,0.0,1.0,23.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,7.0,5.0,1.0
229780,2.0,1.0,1.0,1.0,25.0,0.0,0.0,1.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,9.0,6.0,2.0

In [16]:
diabete_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229781 entries, 0 to 229780
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          229781 non-null  float64
 1   HighBP                229781 non-null  float64
 2   HighChol              229781 non-null  float64
 3   CholCheck             229781 non-null  float64
 4   BMI                   229781 non-null  float64
 5   Smoker                229781 non-null  float64
 6   Stroke                229781 non-null  float64
 7   HeartDiseaseorAttack  229781 non-null  float64
 8   PhysActivity          229781 non-null  float64
 9   Fruits                229781 non-null  float64
 10  Veggies               229781 non-null  float64
 11  HvyAlcoholConsump     229781 non-null  float64
 12  AnyHealthcare         229781 non-null  float64
 13  NoDocbcCost           229781 non-null  float64
 14  GenHlth               229781 non-null  float64
 15  MentHlth              229781 non-null  float64
 16  PhysHlth              229781 non-null  float64
 17  DiffWalk              229781 non-null  float64
 18  Sex                   229781 non-null  float64
 19  Age                   229781 non-null  float64
 20  Education             229781 non-null  float64
 21  Income                229781 non-null  float64
dtypes: float64(22)
memory usage: 38.6 MB

In [17]:
#How To Find Binary series(columns in a dataset), especially when we have a large DataSet
#So, first create a table that contain all the columns
unique_number_total=diabete_df_clean.nunique().sort_values()
data={'unique_number_total':unique_number_total}
unique_number_total_df=pd.DataFrame(data)
unique_number_total_df

                      unique_number_total
Veggies                                 2
HighBP                                  2
HighChol                                2
CholCheck                               2
Sex                                     2
Smoker                                  2
Stroke                                  2
HeartDiseaseorAttack                    2
PhysActivity                            2
Fruits                                  2
DiffWalk                                2
HvyAlcoholConsump                       2
AnyHealthcare                           2
NoDocbcCost                             2
Diabetes_012                            3
GenHlth                                 5
Education                               6
Income                                  8
Age                                    13
MentHlth                               31
PhysHlth                               31
BMI                                    84

In [18]:
# With this command we will show only attributes that have only two values(Binary: True/false-1/0)
unique_number_total_df[unique_number_total_df.unique_number_total==2]

                      unique_number_total
Veggies                                 2
HighBP                                  2
HighChol                                2
CholCheck                               2
Sex                                     2
Smoker                                  2
Stroke                                  2
HeartDiseaseorAttack                    2
PhysActivity                            2
Fruits                                  2
DiffWalk                                2
HvyAlcoholConsump                       2
AnyHealthcare                           2
NoDocbcCost                             2

In [19]:

#Creating table which contains columns with Binary Data and non-binary
list_with_binary_attributes=['Veggies','HighBP','HighChol','CholCheck','Sex','Stroke','HeartDiseaseorAttack','PhysActivity','Fruits','HighChol','DiffWalk','HvyAlcoholConsump','AnyHealthcare','NoDocbcCost']
BinaryData_df=diabete_df_clean[list_with_binary_attributes]

In [20]:
BinaryData_df

,Veggies,HighBP,HighChol,CholCheck,Sex,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,HighChol,DiffWalk,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost
0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0
3,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
4,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229776,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
229777,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
229778,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
229779,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
229780,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0

In [21]:
list_with_no_binary_attributes=['Diabetes_012','BMI','PhysHlth','MentHlth','Age','Income','Education','GenHlth']
NoBinaryData_df=diabete_df_clean[list_with_no_binary_attributes]

In [22]:
NoBinaryData_df

,Diabetes_012,BMI,PhysHlth,MentHlth,Age,Income,Education,GenHlth
0,0.0,40.0,15.0,18.0,9.0,3.0,4.0,5.0
1,0.0,25.0,0.0,0.0,7.0,1.0,6.0,3.0
2,0.0,28.0,30.0,30.0,9.0,8.0,4.0,5.0
3,0.0,27.0,0.0,0.0,11.0,6.0,3.0,2.0
4,0.0,24.0,0.0,3.0,11.0,4.0,5.0,2.0
...,...,...,...,...,...,...,...,...
229776,0.0,45.0,5.0,0.0,5.0,7.0,6.0,3.0
229777,2.0,18.0,0.0,0.0,11.0,4.0,2.0,4.0
229778,0.0,28.0,0.0,0.0,2.0,2.0,5.0,1.0
229779,0.0,23.0,0.0,0.0,7.0,1.0,5.0,3.0
229780,2.0,25.0,0.0,0.0,9.0,2.0,6.0,2.0

In [23]:
#NOW THE AIM HERE IS TO CATEGORIZE (Not Binary Datas) In a way which will be more undestandable 
# (Groping Data- Organizing data) in specified Categories
#1 Obse         BMI >= 30
#2 Overweight   BMI   25-29.9
#3 Healthy      BMI   18.5-24.9
#4 UnderWeight  BMT < 18.5
diabete_weight_group=NoBinaryData_df['BMI']

In [24]:
NoBinaryData_df.loc[diabete_weight_group <18.5, 'Weight_Group']='Under Weight'
NoBinaryData_df.loc[((diabete_weight_group >= 18.5) & (diabete_weight_group <= 24.9)), 'Weight_Group']='Healthy'
NoBinaryData_df.loc[((diabete_weight_group >= 25) & (diabete_weight_group <= 29.9)), 'Weight_Group']='Over Weight'
NoBinaryData_df.loc[diabete_weight_group >=30, 'Weight_Group']='Obse'

C:\Users\ghadi\anaconda3\lib\site-packages\pandas\core\indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\ghadi\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [25]:
#Age_group_detection
#1   Age 18-24
#2   Age 25-29
#3   Age 30-34
#4   Age 35-39
#5   Age 40-44
#6   Age 45-49
#7   Age 50-54
#8   Age 55-59
#9   Age 60-64
#10  Age 65-69
#11  Age 70-74
#12  Age 75_79
#13  Age 80 or older

diabete_age_group=NoBinaryData_df['Age']

In [26]:
NoBinaryData_df.loc[diabete_age_group==1,'Age_Group']='Age 18-24'
NoBinaryData_df.loc[diabete_age_group==2,'Age_Group']='Age 25-29'
NoBinaryData_df.loc[diabete_age_group==3,'Age_Group']='Age 30-34'
NoBinaryData_df.loc[diabete_age_group==4,'Age_Group']='Age 35-39'
NoBinaryData_df.loc[diabete_age_group==5,'Age_Group']='Age 40-44'
NoBinaryData_df.loc[diabete_age_group==6,'Age_Group']='Age 45-49'
NoBinaryData_df.loc[diabete_age_group==7,'Age_Group']='Age 50-54'
NoBinaryData_df.loc[diabete_age_group==8,'Age_Group']='Age 55-59'
NoBinaryData_df.loc[diabete_age_group==9,'Age_Group']='Age 60-64'
NoBinaryData_df.loc[diabete_age_group==10,'Age_Group']='Age 65-69'
NoBinaryData_df.loc[diabete_age_group==11,'Age_Group']='Age 70-74'
NoBinaryData_df.loc[diabete_age_group==12,'Age_Group']='Age 75_79'
NoBinaryData_df.loc[diabete_age_group==13,'Age_Group' ]='Age 80 or older'

In [27]:
#Education_group_detection
#1   
#2   
#3   
#4  
#5   
#6   
diabete_education_group=NoBinaryData_df['Education']

In [28]:
NoBinaryData_df.loc[diabete_education_group==1,'Education_Level']='Not attended School'
NoBinaryData_df.loc[diabete_education_group==2,'Education_Level']='Elementary'
NoBinaryData_df.loc[diabete_education_group==3,'Education_Level']='Some High School'
NoBinaryData_df.loc[diabete_education_group==4,'Education_Level']='High School Graduated'
NoBinaryData_df.loc[diabete_education_group==5,'Education_Level']='Some College or Technichal School'
NoBinaryData_df.loc[diabete_education_group==6,'Education_Level']='College Graduate'

In [35]:
diabete_income_group=NoBinaryData_df['Income']

In [36]:
NoBinaryData_df.loc[diabete_income_group==1,'Income_Level']='Less than 10000 $'
NoBinaryData_df.loc[diabete_income_group==2,'Income_Level']='Less than 15000 $'
NoBinaryData_df.loc[diabete_income_group==3,'Income_Level']='Less than 20000 $'
NoBinaryData_df.loc[diabete_income_group==4,'Income_Level']='Less than 25000 $'
NoBinaryData_df.loc[diabete_income_group==5,'Income_Level']='Less than 35000 $'
NoBinaryData_df.loc[diabete_income_group==6,'Income_Level']='Less than 50000 $'
NoBinaryData_df.loc[diabete_income_group==7,'Income_Level']='Less than 75000 $'
NoBinaryData_df.loc[diabete_income_group==8,'Income_Level']='75000 $ or More'

In [37]:
#General Health:
#1 = excellent,
#2 = very good,
#3 = good,
#4 = fair,
#5 = poor
diabete_GeneralHealth_group=NoBinaryData_df['GenHlth']

In [38]:
NoBinaryData_df.loc[diabete_GeneralHealth_group==1,'GeneralH']='Excellent'
NoBinaryData_df.loc[diabete_GeneralHealth_group==2,'GeneralH']='Very Good'
NoBinaryData_df.loc[diabete_GeneralHealth_group==3,'GeneralH']='Good'
NoBinaryData_df.loc[diabete_GeneralHealth_group==4,'GeneralH']='Fair'
NoBinaryData_df.loc[diabete_GeneralHealth_group==5,'GeneralH']='Poor'

In [39]:
NoBinaryData_df

,Diabetes_012,BMI,PhysHlth,MentHlth,Age,Income,Education,GenHlth,Weight_Group,Age_Group,Education_Level,Income_Level,GeneralH
0,0.0,40.0,15.0,18.0,9.0,3.0,4.0,5.0,Obse,Age 60-64,High School Graduated,Less than 20000 $,Poor
1,0.0,25.0,0.0,0.0,7.0,1.0,6.0,3.0,Over Weight,Age 50-54,College Graduate,Less than 10000 $,Good
2,0.0,28.0,30.0,30.0,9.0,8.0,4.0,5.0,Over Weight,Age 60-64,High School Graduated,75000 $ or More,Poor
3,0.0,27.0,0.0,0.0,11.0,6.0,3.0,2.0,Over Weight,Age 70-74,Some High School,Less than 50000 $,Very Good
4,0.0,24.0,0.0,3.0,11.0,4.0,5.0,2.0,Healthy,Age 70-74,Some College or Technichal School,Less than 25000 $,Very Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...
229776,0.0,45.0,5.0,0.0,5.0,7.0,6.0,3.0,Obse,Age 40-44,College Graduate,Less than 75000 $,Good
229777,2.0,18.0,0.0,0.0,11.0,4.0,2.0,4.0,Under Weight,Age 70-74,Elementary,Less than 25000 $,Fair
229778,0.0,28.0,0.0,0.0,2.0,2.0,5.0,1.0,Over Weight,Age 25-29,Some College or Technichal School,Less than 15000 $,Excellent
229779,0.0,23.0,0.0,0.0,7.0,1.0,5.0,3.0,Healthy,Age 50-54,Some College or Technichal School,Less than 10000 $,Good
229780,2.0,25.0,0.0,0.0,9.0,2.0,6.0,2.0,Over Weight,Age 60-64,College Graduate,Less than 15000 $,Very Good

In [42]:
#Diabete Status
# No Diabete=0
# Pre Diabete=1
# Diabete = 2
diabete_type_detection=NoBinaryData_df['Diabetes_012']

In [43]:
NoBinaryData_df.loc[diabete_type_detection==0,'Disease Status']='No Diabete'
NoBinaryData_df.loc[diabete_type_detection==1,'Disease Status']='Pre Diabete'
NoBinaryData_df.loc[diabete_type_detection==2,'Disease Status']='Diabete'

C:\Users\ghadi\anaconda3\lib\site-packages\pandas\core\indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\ghadi\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [44]:
NoBinaryData_df

,Diabetes_012,BMI,PhysHlth,MentHlth,Age,Income,Education,GenHlth,Weight_Group,Age_Group,Education_Level,Income_Level,GeneralH,Disease Status
0,0.0,40.0,15.0,18.0,9.0,3.0,4.0,5.0,Obse,Age 60-64,High School Graduated,Less than 20000 $,Poor,No Diabete
1,0.0,25.0,0.0,0.0,7.0,1.0,6.0,3.0,Over Weight,Age 50-54,College Graduate,Less than 10000 $,Good,No Diabete
2,0.0,28.0,30.0,30.0,9.0,8.0,4.0,5.0,Over Weight,Age 60-64,High School Graduated,75000 $ or More,Poor,No Diabete
3,0.0,27.0,0.0,0.0,11.0,6.0,3.0,2.0,Over Weight,Age 70-74,Some High School,Less than 50000 $,Very Good,No Diabete
4,0.0,24.0,0.0,3.0,11.0,4.0,5.0,2.0,Healthy,Age 70-74,Some College or Technichal School,Less than 25000 $,Very Good,No Diabete
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229776,0.0,45.0,5.0,0.0,5.0,7.0,6.0,3.0,Obse,Age 40-44,College Graduate,Less than 75000 $,Good,No Diabete
229777,2.0,18.0,0.0,0.0,11.0,4.0,2.0,4.0,Under Weight,Age 70-74,Elementary,Less than 25000 $,Fair,Diabete
229778,0.0,28.0,0.0,0.0,2.0,2.0,5.0,1.0,Over Weight,Age 25-29,Some College or Technichal School,Less than 15000 $,Excellent,No Diabete
229779,0.0,23.0,0.0,0.0,7.0,1.0,5.0,3.0,Healthy,Age 50-54,Some College or Technichal School,Less than 10000 $,Good,No Diabete
229780,2.0,25.0,0.0,0.0,9.0,2.0,6.0,2.0,Over Weight,Age 60-64,College Graduate,Less than 15000 $,Very Good,Diabete

In [45]:
# Extracting Some Information from Tables
#Detecting the Number of People in terms of Diabete Status 
NoBinaryData_df['Disease Status'].value_counts()

No Diabete     190055
Diabete         35097
Pre Diabete      4629
Name: Disease Status, dtype: int64

In [46]:
# To check the values are mapped Correctly
NoBinaryData_df['Diabetes_012'].value_counts()

0.0    190055
2.0     35097
1.0      4629
Name: Diabetes_012, dtype: int64

In [47]:
#To detect the number of people with different age group who are in our Observation
NoBinaryData_df['Age_Group'].value_counts()

Age 60-64          29736
Age 65-69          29168
Age 55-59          27301
Age 50-54          23140
Age 70-74          22041
Age 45-49          17299
Age 80 or older    16813
Age 75_79          15394
Age 40-44          14050
Age 35-39          12234
Age 30-34          10025
Age 25-29           7068
Age 18-24           5512
Name: Age_Group, dtype: int64

In [48]:
#Compare Different Specified Atributes (Columns) with each Other
diabetes_weight=NoBinaryData_df.groupby(['Weight_Group','Disease Status']).size().reset_index(name = 'Number of People')

In [49]:
diabetes_weight

    Weight_Group Disease Status  Number of People
0        Healthy        Diabete              3910
1        Healthy     No Diabete             54328
2        Healthy    Pre Diabete               689
3           Obse        Diabete             20453
4           Obse     No Diabete             62101
5           Obse    Pre Diabete              2388
6    Over Weight        Diabete             10565
7    Over Weight     No Diabete             70770
8    Over Weight    Pre Diabete              1524
9   Under Weight        Diabete               169
10  Under Weight     No Diabete              2856
11  Under Weight    Pre Diabete                28

In [50]:
#Calculate the Percentage of The above table
diffnum_weight_people=NoBinaryData_df['Weight_Group'].value_counts()
diffnum_weight_people

Obse            84942
Over Weight     82859
Healthy         58927
Under Weight     3053
Name: Weight_Group, dtype: int64

In [51]:
#Calculate the Percentage of The above table to have better veiw
#diabetes_weight is a DataFrame
#diffnum_weight_people is a series
diabetes_weight_in_Percentage = diabetes_weight.set_index('Weight_Group').join(diffnum_weight_people)
#It will join with the series Name and members
diabetes_weight_in_Percentage['Percantage']=(diabetes_weight_in_Percentage['Number of People']/
diabetes_weight_in_Percentage['Weight_Group'])

In [52]:
diabetes_weight_in_Percentage.round(2)

             Disease Status  Number of People  Weight_Group  Percantage
Healthy             Diabete              3910         58927        0.07
Healthy          No Diabete             54328         58927        0.92
Healthy         Pre Diabete               689         58927        0.01
Obse                Diabete             20453         84942        0.24
Obse             No Diabete             62101         84942        0.73
Obse            Pre Diabete              2388         84942        0.03
Over Weight         Diabete             10565         82859        0.13
Over Weight      No Diabete             70770         82859        0.85
Over Weight     Pre Diabete              1524         82859        0.02
Under Weight        Diabete               169          3053        0.06
Under Weight     No Diabete              2856          3053        0.94
Under Weight    Pre Diabete                28          3053        0.01