In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
diabete_df=pd.read_csv("diabetes_012_health_indicators_BRFSS2015.csv")

In [3]:
#General look at the DataSet#
diabete_df.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [4]:
diabete_df.tail()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
253675,0.0,1.0,1.0,1.0,45.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,5.0,0.0,1.0,5.0,6.0,7.0
253676,2.0,1.0,1.0,1.0,18.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,4.0,0.0,0.0,1.0,0.0,11.0,2.0,4.0
253677,0.0,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,2.0
253678,0.0,1.0,0.0,1.0,23.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,7.0,5.0,1.0
253679,2.0,1.0,1.0,1.0,25.0,0.0,0.0,1.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,9.0,6.0,2.0

In [5]:
diabete_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   HeartDiseaseorAttack  253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

In [6]:
diabete_df.describe()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,...,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.296921,0.429001,0.424121,0.962670,28.382364,0.443169,0.040571,0.094186,0.756544,0.634256,...,0.951053,0.084177,2.511392,3.184772,4.242081,0.168224,0.440342,8.032119,5.050434,6.053875
std,0.698160,0.494934,0.494210,0.189571,6.608694,0.496761,0.197294,0.292087,0.429169,0.481639,...,0.215759,0.277654,1.068477,7.412847,8.717951,0.374066,0.496429,3.054220,0.985774,2.071148
min,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,1.000000,24.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,5.000000
50%,0.000000,0.000000,0.000000,1.000000,27.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,7.000000
75%,0.000000,1.000000,1.000000,1.000000,31.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,3.000000,2.000000,3.000000,0.000000,1.000000,10.000000,6.000000,8.000000
max,2.000000,1.000000,1.000000,1.000000,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,5.000000,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000

In [7]:
#look at the description of DataSet in better view
diabete_df.describe().round(2).T

                         count   mean   std   min   25%   50%   75%   max
Diabetes_012          253680.0   0.30  0.70   0.0   0.0   0.0   0.0   2.0
HighBP                253680.0   0.43  0.49   0.0   0.0   0.0   1.0   1.0
HighChol              253680.0   0.42  0.49   0.0   0.0   0.0   1.0   1.0
CholCheck             253680.0   0.96  0.19   0.0   1.0   1.0   1.0   1.0
BMI                   253680.0  28.38  6.61  12.0  24.0  27.0  31.0  98.0
Smoker                253680.0   0.44  0.50   0.0   0.0   0.0   1.0   1.0
Stroke                253680.0   0.04  0.20   0.0   0.0   0.0   0.0   1.0
HeartDiseaseorAttack  253680.0   0.09  0.29   0.0   0.0   0.0   0.0   1.0
PhysActivity          253680.0   0.76  0.43   0.0   1.0   1.0   1.0   1.0
Fruits                253680.0   0.63  0.48   0.0   0.0   1.0   1.0   1.0
Veggies               253680.0   0.81  0.39   0.0   1.0   1.0   1.0   1.0
HvyAlcoholConsump     253680.0   0.06  0.23   0.0   0.0   0.0   0.0   1.0
AnyHealthcare         253680.0   0.95  0.22   0.0   1.0   1.0   1.0   1.0
NoDocbcCost           253680.0   0.08  0.28   0.0   0.0   0.0   0.0   1.0
GenHlth               253680.0   2.51  1.07   1.0   2.0   2.0   3.0   5.0
MentHlth              253680.0   3.18  7.41   0.0   0.0   0.0   2.0  30.0
PhysHlth              253680.0   4.24  8.72   0.0   0.0   0.0   3.0  30.0
DiffWalk              253680.0   0.17  0.37   0.0   0.0   0.0   0.0   1.0
Sex                   253680.0   0.44  0.50   0.0   0.0   0.0   1.0   1.0
Age                   253680.0   8.03  3.05   1.0   6.0   8.0  10.0  13.0
Education             253680.0   5.05  0.99   1.0   4.0   5.0   6.0   6.0
Income                253680.0   6.05  2.07   1.0   5.0   7.0   8.0   8.0

In [8]:
# to check also Whether there is null_value in the DataSet or not and represent in a table
isnull_number = []
for i in diabete_df.columns:
    x = diabete_df[i].isnull().sum()
    isnull_number.append(x)
isnull_number_S=pd.Series(isnull_number,index=diabete_df.columns)
isnull_number_S

Diabetes_012            0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

In [9]:
#To Check How many Values are there in each column
unique_number = []
for i in diabete_df.columns:
    x = diabete_df[i].value_counts().count()
    unique_number.append(x)
unique_number_S=pd.Series(unique_number,index=diabete_df.columns)
unique_number_S

Diabetes_012             3
HighBP                   2
HighChol                 2
CholCheck                2
BMI                     84
Smoker                   2
Stroke                   2
HeartDiseaseorAttack     2
PhysActivity             2
Fruits                   2
Veggies                  2
HvyAlcoholConsump        2
AnyHealthcare            2
NoDocbcCost              2
GenHlth                  5
MentHlth                31
PhysHlth                31
DiffWalk                 2
Sex                      2
Age                     13
Education                6
Income                   8
dtype: int64

In [10]:
#Create a DataFrame of these results (isnull_number_S/unique_number_S)
data={"Total Missing Values":isnull_number_S,"Total_Unique_Values":unique_number_S}
unique_notnull_df=pd.DataFrame(data)
unique_notnull_df

                      Total Missing Values  Total_Unique_Values
Diabetes_012                             0                    3
HighBP                                   0                    2
HighChol                                 0                    2
CholCheck                                0                    2
BMI                                      0                   84
Smoker                                   0                    2
Stroke                                   0                    2
HeartDiseaseorAttack                     0                    2
PhysActivity                             0                    2
Fruits                                   0                    2
Veggies                                  0                    2
HvyAlcoholConsump                        0                    2
AnyHealthcare                            0                    2
NoDocbcCost                              0                    2
GenHlth                                  0                    5
MentHlth                                 0                   31
PhysHlth                                 0                   31
DiffWalk                                 0                    2
Sex                                      0                    2
Age                                      0                   13
Education                                0                    6
Income                                   0                    8

In [11]:
#Check How Many different values are there in the each attributes in another way
diabete_df.nunique().sort_values()

Veggies                  2
HighBP                   2
HighChol                 2
CholCheck                2
Sex                      2
Smoker                   2
Stroke                   2
HeartDiseaseorAttack     2
PhysActivity             2
Fruits                   2
DiffWalk                 2
HvyAlcoholConsump        2
AnyHealthcare            2
NoDocbcCost              2
Diabetes_012             3
GenHlth                  5
Education                6
Income                   8
Age                     13
MentHlth                31
PhysHlth                31
BMI                     84
dtype: int64

In [12]:
#To check How many notnull values are there in df in another way
diabete_df.isnull().sum()

Diabetes_012            0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

In [13]:
#Cleaning_data
#There were no Null_Values in the DataSet
#To understand How Many Rows are duplicated
diabete_df.duplicated(subset=['Diabetes_012','HighBP','HighChol','CholCheck','BMI','Smoker','Stroke',
                              'HeartDiseaseorAttack','PhysActivity','Fruits','Veggies','HvyAlcoholConsump','AnyHealthcare','NoDocbcCost','GenHlth','MentHlth',
                              'PhysHlth','DiffWalk','Sex','Age','Education','Income']).sum()

23899

In [14]:
#clean duplicated rows and resetting the index
diabete_df_clean=diabete_df.drop_duplicates()
diabete_df_clean.reset_index(drop=True,inplace=True)
diabete_df_clean

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229776,0.0,1.0,1.0,1.0,45.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,5.0,0.0,1.0,5.0,6.0,7.0
229777,2.0,1.0,1.0,1.0,18.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,4.0,0.0,0.0,1.0,0.0,11.0,2.0,4.0
229778,0.0,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,2.0
229779,0.0,1.0,0.0,1.0,23.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,7.0,5.0,1.0
229780,2.0,1.0,1.0,1.0,25.0,0.0,0.0,1.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,9.0,6.0,2.0

In [15]:
diabete_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229781 entries, 0 to 229780
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          229781 non-null  float64
 1   HighBP                229781 non-null  float64
 2   HighChol              229781 non-null  float64
 3   CholCheck             229781 non-null  float64
 4   BMI                   229781 non-null  float64
 5   Smoker                229781 non-null  float64
 6   Stroke                229781 non-null  float64
 7   HeartDiseaseorAttack  229781 non-null  float64
 8   PhysActivity          229781 non-null  float64
 9   Fruits                229781 non-null  float64
 10  Veggies               229781 non-null  float64
 11  HvyAlcoholConsump     229781 non-null  float64
 12  AnyHealthcare         229781 non-null  float64
 13  NoDocbcCost           229781 non-null  float64
 14  GenHlth               229781 non-null  float64
 15  MentHlth              229781 non-null  float64
 16  PhysHlth              229781 non-null  float64
 17  DiffWalk              229781 non-null  float64
 18  Sex                   229781 non-null  float64
 19  Age                   229781 non-null  float64
 20  Education             229781 non-null  float64
 21  Income                229781 non-null  float64
dtypes: float64(22)
memory usage: 38.6 MB

In [17]:
#How To Find Binary series(columns in a dataset), especially when we have large DataSet
#So first create a table that contain all the columns
unique_number_total=diabete_df_clean.nunique().sort_values()
data={'unique_number_total':unique_number_total}
unique_number_total_df=pd.DataFrame(data)
unique_number_total_df

                      unique_number_total
Veggies                                 2
HighBP                                  2
HighChol                                2
CholCheck                               2
Sex                                     2
Smoker                                  2
Stroke                                  2
HeartDiseaseorAttack                    2
PhysActivity                            2
Fruits                                  2
DiffWalk                                2
HvyAlcoholConsump                       2
AnyHealthcare                           2
NoDocbcCost                             2
Diabetes_012                            3
GenHlth                                 5
Education                               6
Income                                  8
Age                                    13
MentHlth                               31
PhysHlth                               31
BMI                                    84

In [18]:
# With this command we will show only attributes that have only two values
unique_number_total_df[unique_number_total_df.unique_number_total==2]

                      unique_number_total
Veggies                                 2
HighBP                                  2
HighChol                                2
CholCheck                               2
Sex                                     2
Smoker                                  2
Stroke                                  2
HeartDiseaseorAttack                    2
PhysActivity                            2
Fruits                                  2
DiffWalk                                2
HvyAlcoholConsump                       2
AnyHealthcare                           2
NoDocbcCost                             2